// Place all the styles related to the Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokemon-index-item {
  list-style: none;
}

.pokemon-index-item img {
  width: 20px;
  margin: 0 10px;
  vertical-align: middle;
}
